@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/_utilities";

.theme-dark {
  background-color: $black;
  color:$white;
  @import "./colorvariables-dark.scss";
}

.theme-light {
  @import "./colorvariables-light.scss";
}

html[theme=light] {
  --chart-bool-icon-color: black;
  --bs-body-color: black;
  @import "./colorvariables-light.scss";
}

html[theme=dark] {
  --bs-navbar-toggler-border-color: white;
  --bs-border-color: #343a40;
  --chart-bool-icon-color: white;
  --bs-body-color: #dee2e6;
  @import "./colorvariables-dark.scss";
}
