// /*dropdown-list custom properties*/
.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  padding: 0 0;
}

.dropdown {
  display: inline-block;
  position: relative;
  text-align: center;
  align-items: center;
  cursor: pointer;

  .dropdownlist-input {
    display: none;
    cursor: pointer;
  }

  .dropdownlist-input + .dropdown-menu {
    display: none;
  }

  .dropdownlist-input:checked + .dropdown-menu {
    display: block;
  }
}

.dropdown .btn {
  text-align: left;
}
#action-dropdown .rounded-pill {
  text-align: center;
  color: gray;
  border: 1px solid;
}

.form-select[size]:not([size="1"]) {
  padding-right: 1.25rem;
  background-position: right 0.15rem center;
}

.dropdown ul {
  width: 100%;
}
