.form-control {
  &:focus {
    box-shadow: none;
  }
}

input::-webkit-input-placeholder {
  font-size: $font-size-sm;
  font-weight: $font-weight-thin;
}

.form-select {
  font-size: $font-size-sm;
}

.form-control-feedback {
  min-height: 20px;
  text-align: end;
  font-size: $font-size-sm;
}
