.form-control {
  &:focus {
    box-shadow: none;
  }
}
input::-webkit-input-placeholder {
  font-size: $font-size-sm;
  font-weight: $input-font-weight;
}
.form-select {
  font-size: $font-size-sm;
}
