// /* top navigation custom css starts here*/
.navbar-brand {
  width: 253px;
}
// /*sidebar navigation starts here*/
.bd-links .child::after {
  width: 1.25em;
  line-height: 0;
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  position: relative;
  right: -24px;
  transform: rotate(-90deg);
}

.bd-links .child[aria-expanded="true"]::after {
  transform: rotate(0deg);
  position: relative;
  right: -24px;
}

#sidebar.toggle {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.nav.sidebar {
  ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px;

    li {
      line-height: 50px;
      border-top: 1px solid;

      :last-child {
        border-bottom: 1px solid;
      }

      a {
        position: relative;
        text-decoration: none;
        font-size: 13px;
        padding-left: 14px;
        font-weight: $font-weight-normal;
        display: block;
        width: 100%;
        border-left: 3px solid;

        span.rotate {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    li.active {
      ul {
        transition: all 0.5s;

        ul {
          position: static;

          li {
            line-height: 42px;
            border-top: none;

            a {
              font-size: 12px;
            }
          }
        }
      }

      .show {
        display: block;
        transition: all 0.5s;
      }
    }
  }
}

#sidebar {
  height: 100%;
  width: 250px;

  ul {
    li {
      a {
        height: 35px;
        font-size: $font-size-base;
        -webkit-appearance: none;
      }
    }

    a.active.child {
      i {
        color: inherit;
      }
    }
  }

  .bi::before {
    font-size: 21px;
  }
}

.sidebar .feat-show {
  transition: all 0.5s;
}
