// /* top navigation custom css starts here*/
.navbar-brand {
  width: 253px;
}
// /*sidebar navigation starts here*/
.bd-links .child::after {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e ");
  position: absolute;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  height: 20px;
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  transform: rotate(0deg);
}

.bd-links .child[aria-expanded="true"]::after {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}

#sidebar.toggle {
  min-width: 45px;
  max-width: 45px;
  // text-align: center;
}

.nav.sidebar {
  ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px;

    li {
      line-height: 50px;
      border-top: 1px solid;

      :last-child {
        border-bottom: 1px solid;
      }

      a {
        position: relative;
        text-decoration: none;
        font-size: 13px;
        padding-left: 14px;
        font-weight: $font-weight-normal;
        display: block;
        width: 100%;
        border-left: 3px solid;

        span.rotate {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    li.active {
      ul {
        transition: all 0.5s;

        ul {
          position: static;

          li {
            line-height: 42px;
            border-top: none;

            a {
              font-size: 12px;
            }
          }
        }
      }

      .show {
        display: block;
        transition: all 0.5s;
      }
    }
  }
}

#sidebar {
  height: 100%;
  width: 250px;

  ul {
    li {
      a {
        height: 35px;
        font-size: $font-size-base;
        -webkit-appearance: none;
      }
    }

    a.active.child {
      i {
        color: inherit;
      }
    }
  }

  .bi::before {
    font-size: 21px;
  }
}

.sidebar .feat-show {
  transition: all 1s ease-in-out;
}
.sidenav-footer {
  position: absolute;
  // left: -15px;
  top: -4%;
  // width: 275px;
  z-index: 99;
  // height: 100px;
  // padding: 2%;
  right: -31;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background-color: $white;
}

#sidebar:hover .sidenav-footer{
  opacity: 1;
}

.toggle-sidebar-menu .collpase-button svg{
  transform: rotate(180deg);
  transition: all 1s ease-in-out;
}

.sidenav-logo{
  position:absolute;
  top: 5px;
  left: 2px;
 height: 43px;
}
