// /*carousal custom properties*/
.carousel-indicators {
  [data-bs-target] {
    border-radius: 50%;
  }

  .active {
    border: 2px solid;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 50%;
  background-size: 75% 75% !important;
  width: 3.125rem;
  height: 3.125rem;
}
