@media (max-width: 767px) {
  .mobile-btn .btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: 40px;
  }
  .mobile-header-option,
  .mobile-sort,
  .mobile-action {
    display: flex;
  }
  #sortTable thead th:first-child,
  #sortTable tbody td:first-child {
    position: sticky;
    left: -1px;
    background: #f8f8f8;
    z-index: 1;
    max-width: 190px;
  }
  thead {
    white-space: nowrap;
  }
  .sm-datatable {
    overflow-x: scroll;
    min-height: 200px;
  }
  .sm-p-0 {
    padding: 0rem;
  }
  .footer-buttons {
    left: 12px;
  }
  .navsm-p-0 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .sm-ms-3 {
    margin-left: 1rem !important;
  }
  #search-dropdown {
    display: none;
  }
  .fab-dropdown-item {
    padding: 0.6rem 1rem;
  }
  .fab-dropdown {
    min-width: 15rem;
  }
  .fab-btn.show {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
  }
  .raaghu-lg {
    width: 55% !important;
    padding-bottom: 2rem;
  }
  .sm-pe-0 {
    margin-right: 0rem !important;
  }
  .sm-w-100 {
    width: 100% !important;
  }
  .raaghu-lg2 {
    width: 60% !important;
  }
  .raaghu-maintenance {
    width: 100% !important;
  }
  .sm-block {
    display: block !important;
  }
  .sm-pt-1 {
    padding-top: 1rem !important;
  }
  .cc-revoke.cc-bottom {
    left: 16em !important;
  }
  .main-body .sm-px-0 {
    padding-left: 0rem !important;
    padding-right: 0.45rem !important;
  }
  .date-picker-advanced .sm-ms-0 {
    margin-left: 0rem !important;
  }
  .profileMenu {
    padding-top: 50px;
  }
  .breadcrumbs a span {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-btn .btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    min-width: 40px;
  }
  .mobile-header-option,
  .mobile-sort,
  .mobile-action {
    display: flex;
  }
  #sortTable thead th:first-child,
  #sortTable tbody td:first-child {
    position: sticky;
    left: -1px;
    background: #f8f8f8;
    z-index: 1;
    max-width: 190px;
  }
  thead {
    white-space: nowrap;
  }
  .sm-datatable {
    overflow-x: scroll;
    min-height: 200px;
  }
  .main-body .sm-px-0 {
    padding-left: 0rem !important;
    padding-right: 0.85rem !important;
  }
  #profileOffCanvas {
    width: 374px !important;
  }
  .profileMenu {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #sortTable thead th:first-child,
  #sortTable tbody td:first-child {
    position: sticky;
    left: -1px;
    background: #f8f8f8;
    z-index: 1;
    max-width: 190px;
  }
  thead {
    white-space: nowrap;
  }
  .sm-datatable {
    overflow-x: scroll;
    min-height: 200px;
  }
}

// under construction page css

.raaghu-lg {
  width: 15%;
}
.raaghu-lg2 {
  width: 15%;
}
.raaghu-maintenance {
  width: 40%;
}
.bg-grey {
  background-color: #f5f5f5;
}
.sm-w-50 {
  width: 50%;
}
.sm-d-flex {
  display: flex;
}

// updated css for avatar card

.avatar-pic {
  bottom: -20px;
  left: 10px;
}
.avatar-pic2 {
  bottom: 25px;
}
